<h3 class="text-center">Flash Sale</h3>

<div class="subtext-container">
  <p class="text-center subtext-style">
    <strong>BERAKHIR DALAM </strong>
  </p>
  <div class="rectangle">
    <label class="rect-text subtext-style"><strong>06</strong></label>
  </div>
  <strong>:</strong>
  <div class="rectangle">
    <label class="rect-text subtext-style"><strong>36</strong></label>
  </div>
  <strong>:</strong>
  <div class="rectangle">
    <label class="rect-text subtext-style"><strong>20</strong></label>
  </div>
</div>

<div class="card-container">
  <mat-icon>arrow_back_ios</mat-icon>
  <app-card
    item="LANEIGE"
    itemDesc="Cushion Duo Set 2"
    disPrice="Rp 1.500.000"
    price="Rp 1.148.000"
    extraInfo=" "
    showButton="true"
    hideDot="false"
  >
  </app-card>
  <app-card
    item="MASAMI SHOUKO"
    itemDesc="Cushion Duo Set 2
    Perfecting Cushion…"
    disPrice="Rp 1.500.000"
    price="Rp 1.148.000"
    extraInfo="More Options"
    hideDot="false"
    showBar="true"
    barProgress="80"
    barTextRed="SEGERA HABIS"
  ></app-card>
  <app-card
    item="MASAMI SHOUKO"
    itemDesc="Cushion Duo Set 2
    Perfecting Cushion…"
    disPrice="Rp 1.500.000"
    price="Rp 1.148.000"
    extraInfo="More Options"
    showBar="true"
    hideDot="false"
    barProgress="40"
    barTextGrey="Sudah terjual 15"
  ></app-card>
  <app-card
    class="out-of-stock-style"
    item="MASAMI SHOUKO
    PROFESIONAL"
    itemDesc="Cushion Duo Set 2"
    disPrice="Rp 1.500.000"
    price="Rp 1.148.000"
    extraInfo="(Flash Sale Price)"
    hideDot="true"
    barTextRed="Tersedia dalam harga normal"
  ></app-card>
  <app-card
    item="MASAMI SHOUKO"
    itemDesc="Cushion Duo Set 2
    Perfecting Cushion…"
    disPrice="Rp 1.500.000"
    price="Rp 1.148.000"
    extraInfo="More Options"
    showBar="true"
    hideDot="false"
    barProgress="40"
    barTextGrey="Sudah terjual 15"
  ></app-card>
  <mat-icon>arrow_forward_ios</mat-icon>
</div>

<div class="more-button-container">
  <a
    class="more-button-style"
    style="background-color: white;"
    mat-stroked-button
    ><strong>See More</strong></a
  >
</div>
